<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><img src="/logo.png" style="width: 100px; height: 60px"/></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav  fw-semibold " >
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new"
          ><i class="fa-solid fa-square-plus"></i>Listing</a
        >
      </div>
    </div>
  </div>
</nav>
