<% layout("/layout/boilerplate")%>
<br><br>
<div class="row ">
  <div class="col-8 offset-2">
  <h3 style="color: rgb(223, 145, 0);">Create a New Listing</h3>

  <form method="POST" action="/listings" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        name="listing[title]"
        id="title"
        placeholder="Add a catchy title"
        type="text"
        class="form-control"
        required
      />
      <div class="valid-feedback">Title Looks Good !</div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="listing[description]"
        id="description"
        placeholder="Enter description"
        class="form-control"
        required
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image Link</label>
      <input
        name="listing[image]"
        id="image"
        placeholder="Enter image URL/Link"
        type="text"
        class="form-control"
      />
      <div class="invalid-feedback"> Image link should be valid</div>
    </div>

    <div class="row">

    <div class="mb-3 col-md-4" >
      <label for="price" class="form-label">Price</label>
      <input
        name="listing[price]"
        id="price"
        placeholder="Enter price"
        type="number"
        class="form-control"
        required
      />
       <div class="invalid-feedback"> Price is invalid</div>
    </div>

    <div class="mb-3 col-md-8">
      <label for="country" class="form-label">Country</label>
      <input
        name="listing[country]"
        id="country"
        placeholder="Enter country"
        type="text"
        class="form-control"
        required
      />
         <div class="invalid-feedback">Country is invalid</div>
    </div>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input
        name="listing[location]"
        id="location"
        placeholder="Enter location"
        type="text"
        class="form-control"
        required
      />
         <div class="invalid-feedback"> Location is invalid</div>
    </div>

    <button class="btn btn-dark px-5" type="submit">Add</button>
  </form>

</div>
</div>
<br><br>